div {
    padding: 10px;
    margin: 10px;
    border: 5px solid orange;
    border-style: dotted;
    border-bottom-style: double;
    border-left-color: red;
    border-bottom-width: 10px;
    border-radius: 15px;
}
